.form-container{
    border: 1px solid #f0f3f7;
    border-radius: 15px;
    background-color: #fff;
    padding: 25px;
}

body{
    background-color: #56baec;
}
.main-container{
    border: 1px solid #f0f3f7;
    border-radius: 15px;
    background-color: #fff;
    padding: 25px;
}
.asteroid-container{
    display: flex;
    border-bottom: 1px solid #f0f3f7;
}
.asteroid-info{
    width: 100%;
    align-self: center;
    text-align: left;
    display: flex;
}
.asteroid-icon{
    font-size: 50px;
}
.info-container{
   margin-left: 15px;
   width: 75%; 
}
.header{
    margin-bottom: 25px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}
.fav-container{
    width: 25%;
    text-align: center;
    align-self: center;
}

.asteroid-header{
    display: flex;
}

.login-input {
    background-color: #f6f6f6;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
}

.login-input:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

.login-button{
    border: none;
    background-color: #56baec;
    padding: 15px 80px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 5px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    color: #fff;
    border-radius: 5px;
}

.login-button:hover{
    background-color: #39ace7;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}